﻿@page "/"
@inject IJSRuntime Js

Content: @content
<br />
Setup Completed: @completedSetup
<br />
Language: @language
<br />
Theme: @theme
<br />
Include Rebellion: @includeRebellion


@code {
    private readonly List<DFCard> cards = new();
    private string content = "";
    private string completedSetup = "";
    private string language = "";
    private string theme = "";
    private string includeRebellion = "";

    protected override async Task OnInitializedAsync() {
        cards.Add(new DFCard {
            Id = 0,
            Costs = new List<DFCardCost> { new() { Id = 0, Type = DFCardCost.ShardType.Moon, Value = 3 } },
            Effects = new List<DFCardEffect> { new() { Id = 0, Type = DFCardEffect.EffectType.Instant, Description = "Desc 1" } },
            GloryPoints = 4,
            ModuleSpecific = false,
            Name = "Test 1",
            Set = DFCard.CardSet.Standard
        });

        cards.Add(new DFCard {
            Id = 1,
            Costs = new List<DFCardCost> { new() { Id = 1, Type = DFCardCost.ShardType.Sun, Value = 6 } },
            Effects = new List<DFCardEffect> { new() { Id = 1, Type = DFCardEffect.EffectType.Instant, Description = "Desc 2" } },
            GloryPoints = 2,
            ModuleSpecific = true,
            Name = "Test 2",
            Set = DFCard.CardSet.Alternative
        });

        cards.Add(new DFCard {
            Id = 2,
            Costs = new List<DFCardCost> { new() { Id = 2, Type = DFCardCost.ShardType.Moon, Value = 1 }, new() { Id = 5, Type = DFCardCost.ShardType.Sun, Value = 5 } },
            Effects = new List<DFCardEffect> { new() { Id = 2, Type = DFCardEffect.EffectType.Instant, Description = "Desc 3" } },
            GloryPoints = 9,
            ModuleSpecific = false,
            Name = "Test 3",
            Set = DFCard.CardSet.Standard
        });

        DFCardStore cardStore = new(Js);

        await cardStore.PutMultiple(cards);

        await cardStore.Delete(1);

        IEnumerable<DFCard> cardsGet = await cardStore.GetAll();

        foreach (DFCard dfCard in cardsGet) {
            content += dfCard + ", ";
        }

        PreferenceStore preferenceStore = new(Js);

        await preferenceStore.MarkSetupAsCompleted();
        bool setupCompleted = await preferenceStore.IsSetupCompleted();
        completedSetup = setupCompleted.ToString();

        await preferenceStore.SetLanguage(Language.French);
        Language lang = await preferenceStore.GetLanguage();
        language = lang.ToString();

        await preferenceStore.SetTheme(Theme.Light);
        Theme the = await preferenceStore.GetTheme();
        theme = the.ToString();

        await preferenceStore.SetIncludeRebellion(true);
        bool incReb = await preferenceStore.GetIncludeRebellion();
        includeRebellion = incReb.ToString();
    }

}